{% extends 'base.html.twig' %}

{% block title %}Hello ReclamationController!{% endblock %}

{% block body %}
{{ form_start(formReclamation,{'attr': {'novalidate': 'novalidate'}})}}
   {{ include('reclamation/form.html.twig') }}
    <button class="btn btn-primary">Editer</button>
 {{ form_end(formReclamation)}}

{% endblock %}